# source
e2e/
lib/
.idea/
coverage/

# config
tsconfig.json
tslint.json
.prettierignore
.prettierrc
.travis.yml
docker-compose.yml
jest.config.js
jest-e2e.config.js
renovate.json
sample.tsconfig.json
cc-test-reporter

# misc
sample/
.circleci/
.github/
FUNDING.yml
