version: 2

aliases:
  - &restore-cache
    restore_cache:
      name: Restore Yarn Package Cache
      keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
  - &install-deps
    run:
      name: Install Dependencies
      command: yarn install --ignore-scripts --frozen-lockfile --cache-folder ~/.cache/yarn
  - &build-packages
    run:
      name: Build
      command: yarn build
  - &save-cache
    save_cache:
      name: Save Yarn Package Cache
      key: yarn-packages-{{ checksum "yarn.lock" }}
      paths:
        - ~/.cache/yarn

jobs:
  build:
    working_directory: ~/nest
    docker:
      - image: cimg/node:22.22.0
    steps:
      - checkout
      - *restore-cache
      - *install-deps
      - *save-cache
      - run:
          name: Build
          command: yarn build

  unit_tests:
    working_directory: ~/nest
    docker:
      - image: cimg/node:22.22.0
    steps:
      - checkout
      - *restore-cache
      - *install-deps
      - run:
          name: Unit tests
          command: yarn test

  integration_tests:
    working_directory: ~/nest
    machine: true
    steps:
      - checkout
      - run:
          name: Prepare nvm
          command: |
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run:
          name: Upgrade Node.js
          command: |
            nvm install v18
            node -v
            nvm alias default v18
      - run:
          name: Install Yarn
          command: npm install -g yarn
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - *install-deps
      - run:
          name: Prepare
          command: |
            docker-compose up -d
            sleep 10
      - run:
          name: List containers
          command: docker ps
      - run:
          name: e2e tests
          command: yarn test:e2e

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - unit_tests:
          requires:
            - build
      - integration_tests:
          requires:
            - build
